body{
width: 1280px;
height: 1056px;
background-color: #E4A311;
}











@media only screen and (max-width: 320px){
header, .paragragh1, h1, .paragragh2, section, h2, .paragragh3, footer, .footer1, .footer2{
background-color: purple;
color: #DADA2F;
display: block;
width: 100%;
height: 100%;
margin: 0 auto;
font: italic;
font-size: 15px;
  }
}
